.App-Container{
    margin: auto;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 500px;
}
.App-home{
    text-align: center;
    font-size: 20px;
    color: #333;
}